<!DOCTYPE html>
<html lang="en">
<head style="background">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - За пчелите и хората</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.png" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/lib/bootstrap/dist/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>


<body style="background-image: src(/images/back.jpg)">
    <header>
        <partial name="_NotificationPartial" />
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">За пчелите и хората</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">За нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Gallery" asp-action="All">Галерия</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                Пчеларски дневник
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Apiary" asp-action="All">Пчелини</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Event" asp-action="Index">Събития</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Balance" asp-action="Index">Баланс</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Статистики</a></li>
                            </ul>
                        </li>

                        @if (User.IsInRole(AdministratorRoleName))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Администраторски панел</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav class=" col-md-3 col-lg-2 d-none d-md-block  sidebar">
                <div class="position-sticky">
                    <ul class="btn-group-vertical d-grid gap-4 d-md-block">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="" class="btn btn-warning mb-3 btn-block fw-bold">За нас</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Gallery" asp-action="All" asp-route-id="" class="btn btn-warning mb-3 btn-block fw-bold">Галерия</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Event" asp-action="Notes" asp-route-id="" class="btn btn-warning mb-3 btn-block fw-bold">Задачи</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Apiary" asp-action="All" asp-route-id="" class="btn btn-warning mb-3 btn-block fw-bold">Пчелини</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Balance" asp-action="Index" asp-route-id="" class="btn btn-warning mb-3 btn-block fw-bold">Баланс</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Event" asp-action="Index" asp-route-id="" class="btn btn-warning mb-3 btn-block fw-bold">Cъбития</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Apiary" asp-action="Add" asp-route-id="" class="btn btn-warning mb-3 btn-block fw-bold">Добавете информация за вашите пчелини</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Event" asp-action="Index" asp-route-id="" class="btn btn-warning mb-3 btn-block fw-bold">Добавете данни за проведени мероприятия по кошерите</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Event" asp-action="Balance" asp-route-id="" class="btn btn-warning mb-3 btn-block fw-bold">Запазете информация за приходите и разходите си</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Event" asp-action="Notes" asp-route-id="" class="btn btn-warning mb-3 btn-block fw-bold">Създайте бележки с предстоящи задачи</a>
                            </li>
                        }

                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - BeekeepingWebProject
        </div>
    </footer>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
@*    <script src="~/lib/bootstrap/dist/js/custom.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
