<div class="article">
    <h1 class="text-center">За пчелите и хората</h1>
    <p>Пчеларството е не просто професия или хоби - то e страст и мисия!</p>
    <figure>
        <img src="/images/Article1.jpg" alt="Image 3">
    </figure>
    <p>
        Пчеларска ферма "Костов" е създадена през 2015 г. В началото с идеята за бизнес, а в последствия превърнала се
        в наша страст и мисия. Докосването до пчелите ни научи, че във всяко едно отношение природата е невероятна.
        Можем много да научим от тези уникални създания - от начина, по който те изграждат и създават своето общество.
    </p>

    <p>
        В тяхното семейство няма разделение, няма по-малко важни. Всяка една пчела има своята роля и всяка една пчела е готова
        да даде живота си за своето семейство.
    </p>
    <p>
        За съжаление обаче развитието и модернизирането на селското стопанство сериозно застрашава оцеляването на пчелите.
        Засаждането на огромни площи с еднотипни култури, използването на нерегламентирани и опасни препарати, както и промяната
        в климата, оказват изключително негативно влияние, върху тези прекрасни създания.
    </p>
    <figure>
        <img src="/images/6.jpg" alt="Image 3">
    </figure>
    <p>
        Ние вярваме, че спасяването на пчелите е жизнено важно за нас хората. Тези малки насекоми опрашват една трета
        от храната, която ние консумираме. Освен това произвеждат мед, пчелен прашец, пчелно млечице и восък - продукти,
        известни със своите ползи за здравето на човек.
    <p>
        За това Ви призоваваме да купувате мед и пчелни продукти от местните пчелари, а не от големи вериги магазини. По
        този начин Вие подкрепяте малкия бизнес в България и им помагате, за да могат да продължат да се грижат за
        пчелите.
    </p>
    <p>
        Също така Ви молим, когато решите да напръскате във Вашия двор, да се съобразите с времето от деня. Не пръскайте цъфтяща
        растителност и около нея в светлата част на деня. Използвайте препарати щадящи както пчелите, така и Вас.
    </p>
    <p class="text-center"> Благодарим!</p>
    <div>
        <p class="text-center"><strong> А това са част от продуктите, които предлагаме:</strong></p>
        <img src="/images/Article2.jpg" alt="Image 3">
    </div>
    <p>
       В подкрепа на нашите колеги-пчелари, за да могат да улеснят своята работа по ръководенето на пчелините си, сме разработили
       пчеларски дневник. В него те могат да записват информация за своите стопанства - кошери, прегледи, хранете, третитане,
       финансова информация и др. 
    </p>
    <p"><strong>Тази функционалност е достъпна след регистрация в сайта.</strong></p>
</div>

