<ul id="hexGrid">
    <li class="hex">
        <a class="hexIn" href="#">
            <img src="/images/Hexagon.jpg" alt=""/>
            <h1>Медоносната пчела</h1>
            <p>За своя кратък живот тя произвежда само около 1 чаена лъжичка с мед</p>
        </a>
    </li>
    <li class="hex">
        <a class="hexIn" href="#">
            <img src="/images/Hexagon3.jpg" alt="" />
            <h1>Медоносната пчела</h1>
            <p>За да произведат 1 кг мед пчелите трябва да посетят над 1 милион цветя и да прелетят 400 000 км</p>
        </a>
    </li>
    <li class="hex">
        <a class="hexIn" href="#">
            <img src="/images/Hexagon1.jpg" alt="" />
            <h1>Пчелният прашец</h1>
            <p>В него се съдържат почти всички витамини, от които се нуждае човекът</p>
        </a>
    </li>
    <li class="hex">
        <a class="hexIn" href="#">
            <img src="/images/Hexagon6.jpg" alt="" />
            <h1>Медоносната пчела</h1>
            <p>Единсвеното насекомо, произвеждащо храна, която човекът може да консумира</p>
        </a>
    </li>
    <li class="hex">
        <a class="hexIn" href="#">
            <img src="/images/Hexagon4.jpg" alt="" />
            <h1>Кошерът</h1>
            <p>Той е организиран като малък град, ръководен от кралицата и всяка пчела си има собствена роля</p>
        </a>
    </li>
    <li class="hex">
        <a class="hexIn" href="#">
            <img src="/images/Hexagon5.jpg" alt="" />
            <h1>Пчелата-майка</h1>
            <p>Като истинска кралица тя има "слуги", които я следват навсякъде и се грижат за нея</p>
        </a>
    </li>
    <li class="hex">
        <a class="hexIn" href="#">
            <img src="/images/Hexagon2.jpg" alt="" />
            <h1>Медът</h1>
            <p>Единствената храна, която при правилно съхранение, няма срок на годност</p>
        </a>
    </li>
 </ul>
