@{
    ViewData["Title"] = "За нас";
}

<div class="text-center">
    <h2 class="display-4">За пчелите и хората</h2>
    <p>"Ако изчезнат пчелите, човечеството може да просъществува само 4 години, преди да изчезне." </>
    <p>
        Алберт Айнщайн </>
        <video width="800" height="600" class="w-100" autoplay loop muted>
            <source src="/images/IndexVideo3.mp4" type="video/mp4" />
        </video>
</div>
