@model ApiaryFormModel

@{
    ViewBag.Title = "Добави нов пчелин";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2> 
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Задайте име, за да търсите своя пчелин по-лесно">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" placeholder="Къде се намира Вашия пчелин">
                <span asp-validation-for="Location" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationNumber"></label>
                <input asp-for="RegistrationNumber" class="form-control">
                <span asp-validation-for="RegistrationNumber" class="small text-danger"></span>
            </div>
            @* <div id="map" style="height: 400px;"></div>
            <form method="post">
                <input type="hidden" id="latitude" name="latitude" />
                <input type="hidden" id="longitude" name="longitude" />
                <input type="submit" value="Save Location" />
            </form>*@

            <input class="btn btn-primary mt-3" type="submit" value="Запази" />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
@*    <script>
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 0, lng: 0 },
                zoom: 2
            });

            map.addListener('click', function (event) {
                document.getElementById('latitude').value = event.latLng.lat();
                document.getElementById('longitude').value = event.latLng.lng();
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_MAPS_API_KEY&callback=initMap" async defer></script>*@
}
