@model IEnumerable<ApiaryWeatherModel>

<div class="text-center row">

    @foreach (var w in Model)
    {
        var temprature = Math.Round(w.Main.Temperature - 273.15);

        <div class="card col-3" style="width: 15rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Пчелин @w.Title</h5>
                <h3>
                    <span class="glyphicon">&#x1F321;</span>
                    @temprature °C
                </h3>

                @switch (w.Weather[0].MainWeather.ToString())
                {
                    case "Thunderstorm":
                        <img style="width:100px;height:100px;" src="https://openweathermap.org/img/wn/11d@2x.png">
                        ; break;
                    case "Drizzle":
                        <img style="width:100px;height:100px;" src="https://openweathermap.org/img/wn/09d@2x.png">
                        ; break;
                    case "Rain":
                        <img style="width:100px;height:100px;" src="https://openweathermap.org/img/wn/10d@2x.png">
                        ; break;
                    case "Snow":
                        <img style="width:100px;height:100px;" src="https://openweathermap.org/img/wn/13d@2x.png">
                        ; break;
                    case "Atmosphere":
                        <img style="width:100px;height:100px;" src="https://openweathermap.org/img/wn/50d@2x.png">
                        ; break;
                    case "Clear":
                        <img style="width:100px;height:100px;" src="https://openweathermap.org/img/wn/01d@2x.png">
                        ; break;
                    case "Clouds":
                        <img style="width:100px;height:100px;" src="https://openweathermap.org/img/wn/03d@2x.png">
                        ; break;
                }
                <p class="mb-0">
                    <span class="glyphicon">&#127778;</span>
                    @w.Main.Humidity %
                </p>
                <p class="mb-0">
                    <span class="glyphicon">&#9780;</span>
                    @w.Wind.Speed м/с
                </p>
            </div>
        </div>
    }
</div>