@model IEnumerable<SelectListItem>

<div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
        @foreach (var option in Model)
        {
            <a href="@Url.Action(option.Value, "YourController")">@option.Text</a>
        }
    </div>
</div>