@model List<PictureViewModel>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <h1>Галерия</h1>
        <div class="row">
            @foreach (var picture in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="@picture.PicturePath" class="card-img-top" alt="Image">
                        <div class="card-body">
                            <h5 class="card-title">@picture.PictureName</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>

