<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Галерия</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
</head>

<body>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Галерия</h2>
                <p class="text-center">Можем да научим много от пчелите. Те са невероярни, те ни вдъхновяват и тяхната значимост за съществуването на човечеството е неизмерима. Всяка пчела живее не за себе си, а за другите - за общата кауза, за общото благо, за семейството!</p>
                <p class="text-center"> Да...колко много можем да научим от тях!</p>
            </div>
            <div class="row photos">
                @for (int i = 0; i < 20; i++)
                {
                    string imgSrc = "/images/" + i.ToString() + ".jpg";
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href=@imgSrc data-lightbox="photos"><img class="img-fluid" src=@imgSrc></a></div>
                }
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>
