html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

h1 {
    color: gold;
}

h2 {
    color: gold;
}

