body {
    width: 100vw;
    height: 100vh;
    background: url(/images/back.jpg);
    background-size: cover;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

h1 {
    color: black;
    font-style: italic;
}

h2 {
    color: black;
}

/*--- Galery ---*/

.photo-gallery {
    color: #313437;
    background-color: #fff;
}

    .photo-gallery p {
        color: #7d8285;
    }

    .photo-gallery h2 {
        font-weight: bold;
        margin-bottom: 40px;
        padding-top: 40px;
        color: inherit;
    }

@media (max-width:767px) {
    .photo-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.photo-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px;
}

    .photo-gallery .intro p {
        margin-bottom: 0;
    }

.photo-gallery .photos {
    padding-bottom: 20px;
}

.photo-gallery .item {
    padding-bottom: 30px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: yellow;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: orange;
    }

/*--- Toastr ---*/

#toast-text > .toast-success {
    color: aqua !important;
}

#toast-text > .toast-success {
    text-decoration-color: aqua !important;
}

.wrap {
    width: 1200px;
    margin: 30px auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 300px auto;
}

.form input {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 1em;
    outline: none;
    margin-bottom: 5px;
    background: #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    text-transform: capitalize;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

    .form input:focus {
        background: #aaa;
    }

.form .form__btn {
    color: #fff;
    background: rgb(63, 192, 46);
}

#map {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.container {
    position: center;
    width: 100%;
    max-width: 1200px;
}

    .container img {
        width: 100%;
        height: auto;
    }

    .container .btn-group {
        position: center;
        top: 90%;
        left: 80%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: lightgoldenrodyellow;
        color: black;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

    .container .btn:hover {
        background-color: transparent;
    }

.picture-container {
    text-align: center;
}

.picture {
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: orange;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .picture {
        max-width: 80%;
    }

    .button {
        display: block;
        margin: 20px auto;
    }
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-button {
    margin-bottom: 10px;
    width: 70%;
    padding: 5px 10px;
    background-color: orange;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
    }
}

.table-style {
    border-collapse: collapse;
    width: 100%;
}

    .table-style th, .table-style td {
        padding: 8px;
        text-align: left;
    }

    .table-style tr:nth-child(even) {
        background-color: lightgoldenrodyellow;
    }

.card {
    padding: 35px;
    border-radius: 20px;
    box-shadow: 1 4px 6px rgba(0, 0, 0, 0.1);
    background-color: lightgoldenrodyellow;
    margin-bottom: 5mm;
}

    .card:hover {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-4px);
        transition: box-shadow 0.3s, transform 0.3s;
    }

@media (max-width: 767px) {
    .image-container {
        text-align: center;
    }
}

/*--- Event custom conteiner ---*/
.custom-events-container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; 
}

.custom-event {
    position: relative;
    margin: 20px;
    text-align: center;
    flex: 1 1 calc(33.33% - 40px); 
}

    .custom-event .custom-btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: lightgoldenrodyellow;
        color: black;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

        .custom-event .custom-btn:hover {
            background-color: transparent;
        }

    .custom-event img {
        display: block;
        max-width: 100%;
        height: auto;
        padding: 10px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    }

@media (max-width: 768px) { 
    .custom-event {
        flex-basis: calc(100% - 40px); 
    }
}
/* --- Hexagon buttons ---*/

.hexagon {
    width: 200px;
    height: 100px;
    overflow: hidden;
    visibility: hidden;
    transform: rotate(120deg);
    display: inline-block;
    list-style-type: none;
}

.hexagon-in1 {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    text-decoration: none;
}

.hexagon-in2 {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(/images/11.jpg);
    overflow: hidden;
    visibility: visible;
    line-height: 200px;
    font-size: 1.5em;
    color: #fff;
    text-shadow: 1px 1px #000;
    transform: rotate(-60deg);
    transition: 1.5s ease-out;
    text-align: center;
    line-height: 4;
}

li:nth-child(1) span {
    background-position: -105px center;
}

li:nth-child(2) span {
    background-position: -155px center;
}

li:nth-child(3) span {
    background-position: -215px center;
}

li:nth-child(4) span {
    background-position: -315px center;
}

li:nth-child(5) span {
    background-position: -415px center;
}

.hexagon-in2:hover {
    background-position: -565px center;
    color: orange;
}

ul {
    text-align: center;
}

@media (max-width: 1200px) {
    .hexagon {
        display: none;
    }
}

/* --- Hexagons index page --- */
#hexGrid {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding: 0.866% 0;
    font-size: 15px;
}

    #hexGrid:after {
        content: "";
        display: block;
        clear: both;
    }

.hex {
    position: relative;
    list-style-type: none;
    float: left;
    overflow: hidden;
    visibility: hidden;
    outline: 1px solid transparent;
    transform: rotate(-60deg) skewY(30deg);
}

    .hex * {
        position: absolute;
        visibility: visible;
        outline: 1px solid transparent;
    }

.hexIn {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: lightgoldenrodyellow;
    overflow: hidden;
    transform: skewY(-30deg) rotate(60deg);
}

.hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.hex h1,
.hex p {
    margin: 0;
    width: 102%;
    left: -1%;
    padding: 5%;
    box-sizing: border-box;
    background-color: rgba(255, 165, 0, 0.8);
    font-weight: 400;
    font-size: 16px;
    color: black;
    transition: transform .2s ease-out, opacity .3s ease-out;
}

.hex h1 {
    bottom: 50%;
    padding-top: 50%;
    font-size: 1.5em;
    z-index: 1;
    transform: translateY(-100%);
    font-style: italic;
}

    .hex h1:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 45%;
        width: 10%;
        text-align: center;
        border-bottom: 1px solid #fff;
    }

.hex p {
    top: 50%;
    padding-bottom: 50%;
    transform: translateY(100%);
}

.hexIn:hover h1, .hexIn:focus h1, .hexIn:hover p, .hexIn:focus p {
    transform: translateY(0%);
}

@media (min-width:1201px) {
    .hex {
        width: 32.666%;
        padding-bottom: 37.720%;
    }

        .hex:nth-child(5n+1),
        .hex:nth-child(5n+2) {
            transform: translateX(50%) rotate(-60deg) skewY(30deg);
        }

        .hex:nth-child(5n+3),
        .hex:nth-child(5n+4),
        .hex:nth-child(5n+5) {
            margin-top: -8.564%;
            margin-bottom: -8.564%;
        }

        .hex:nth-child(5n+2),
        .hex:nth-child(5n+4) {
            margin-right: 1%;
            margin-left: 1%;
        }

        .hex:nth-child(5n+1) {
            margin-left: 0.5%;
        }

        .hex:nth-child(5n+3),
        .hex:nth-child(5n+6) {
            clear: left;
        }
}

@media (max-width: 1200px) {
    .hex {
        width: 49.5%;
        padding-bottom: 57.158%;
    }

        .hex:nth-child(3n+1) {
            transform: translateX(50%) rotate(-60deg) skewY(30deg);
        }

        .hex:nth-child(3n+2),
        .hex:nth-child(3n+3) {
            margin-top: -13.423%;
            margin-bottom: -13.423%;
        }

        .hex:nth-child(3n+1) {
            margin-left: 0.5%
        }

        .hex:nth-child(3n+3) {
            margin-left: 1%;
        }

        .hex:nth-child(3n+2),
        .hex:nth-child(3n+4) {
            clear: left;
        }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 8px;
    }

        #hexGrid p {
            font-size: 8px;
        }

    #fork {
        font-family: 'Raleway', sans-serif;
        position: fixed;
        top: 0;
        left: 0;
        color: #000;
        text-decoration: none;
        border: 1px solid #000;
        padding: .5em .7em;
        margin: 1%;
        transition: color .5s;
        overflow: hidden;
    }

        #fork:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 130%;
            height: 100%;
            background: #000;
            z-index: -1;
            transform-origin: 0 0;
            transform: translateX(-100%) skewX(-45deg);
            transition: transform .5s;
        }

        #fork:hover {
            color: #fff;
        }

            #fork:hover:before {
                transform: translateX(0) skewX(-45deg);
            }
}

 /*--- Article ----*/

.article {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    overflow: hidden;
}

    .article figure {
        float: left;
        margin: 0 20px 20px 0; 
        text-align: center;
        width: 300px;
    }

    .article img {
        max-width: 100%; 
        height: auto;
        box-shadow: 0 10px 14px rgba(0, 0, 0, 0.1);
    }

/*    --- Error page ---*/

.error-page {
    display: flex;
    place-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: black;
    margin: 0 auto;
    max-width: 800px;
}

    .error-page h1 {
        font-size: 30vh;
        font-weight: bold;
        position: relative;
        margin-bottom: 0;
    }

        .error-page h1:after {
            content: attr(data-h1);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            color: transparent;
            background: -webkit-repeating-linear-gradient(-25deg, #FF4136, #FFDC00, #FF851B, #FF851B, #FFDC00, #FF4136, #965106);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 400%;
            text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
            animation: animateTextBackground 10s ease-in-out infinite;
        }

        .error-page h1 + p {
            margin-bottom: 0;
            margin-top: 0;
            color: orange;
            font-size: 5vh;
            font-weight: bold;
            line-height: 10vh;
            max-width: 600px;
            position: relative;
        }

            .error-page h1 + p:after {
                margin-bottom: 0;
                margin-top: 0;
                content: attr(data-p);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                color: transparent;
                text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
                -webkit-background-clip: text;
            }

@keyframes animateTextBackground {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: 100% 0;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 0;
    }
}

@media (max-width: 767px) {
    .error-page h1 {
        font-size: 32vw;
    }

        .error-page h1 + p {
            font-size: 8vw;
            line-height: 10vw;
            max-width: 70vw;
        }
}

/*--- Weather card ---*/

#weather-cards-container .card {
    width: 28rem; 
    background-color: #f8f9fa; 
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 1 14px 16px rgba(0, 0, 0, 0.1);
}

#weather-cards-container .card-body {
    padding: 1rem; 
}

#weather-cards-container .card-title {
    font-size: 1.25rem; 
    margin-bottom: 2rem;
}

#weather-cards-container h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#weather-cards-container p {
    font-size: 1rem; 
}