
body {
    width: 100vw;
    height: 100vh;
    background: url(/images/back.jpg);
    background-size: cover;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

.photo-gallery {
    color: #313437;
    background-color: #fff;
}

    .photo-gallery p {
        color: #7d8285;
    }

    .photo-gallery h2 {
        font-weight: bold;
        margin-bottom: 40px;
        padding-top: 40px;
        color: inherit;
    }

@media (max-width:767px) {
    .photo-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.photo-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px;
}

    .photo-gallery .intro p {
        margin-bottom: 0;
    }

.photo-gallery .photos {
    padding-bottom: 20px;
}

.photo-gallery .item {
    padding-bottom: 30px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: yellow;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: orange;
    }

#toast-text > .toast-success {
    color: aqua !important;
}

#toast-text > .toast-success {
    text-decoration-color: aqua !important;
}

.wrap {
    width: 1200px;
    margin: 30px auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 300px auto;
}

.form input {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 1em;
    outline: none;
    margin-bottom: 5px;
    background: #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    text-transform: capitalize;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

    .form input:focus {
        background: #aaa;
    }

.form .form__btn {
    color: #fff;
    background: rgb(63, 192, 46);
}

#map {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.container {
    position: center;
    width: 100%;
    max-width: 1200px;
}

    .container img {
        width: 100%;
        height: auto;
    }

    .container .btn-group {
        position: center;
        top: 90%;
        left: 80%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: lightgoldenrodyellow;
        color: black;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

    .container .btn:hover {
        background-color: transparent;
    }

.picture-container {
    text-align: center;
}

.picture {
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: orange;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .picture {
        max-width: 80%;
    }

    .button {
        display: block;
        margin: 20px auto;
    }
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-button {
    margin-bottom: 10px;
    width: 70%;
    padding: 5px 10px;
    background-color: orange;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
    }
}

.table-style {
    border-collapse: collapse;
    width: 100%;
}

    .table-style th, .table-style td {
        padding: 8px;
        text-align: left;
    }

    .table-style tr:nth-child(even) {
        background-color: lightgoldenrodyellow;
    }

.card {
    padding: 35px;
    border-radius: 20px;
    box-shadow: 1 4px 6px rgba(0, 0, 0, 0.1);
    background-color: lightgoldenrodyellow;
    margin-bottom: 5mm;
}

    .card:hover {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-4px);
        transition: box-shadow 0.3s, transform 0.3s;
    }

@media (max-width: 767px) {
    .image-container {
        text-align: center;
    }
}

.custom-events-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}

.custom-events-container .custom-btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: lightgoldenrodyellow;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

    .custom-events-container .custom-btn:hover {
        background-color: transparent;
    }

    .custom-events-container img {
        display: block;
        margin: 0 auto; 
        max-width: 100%;
        height: auto;
        padding: 10px; 
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); 
    }


.hexagon {
    width: 200px;
    height: 100px;
    overflow: hidden;
    visibility: hidden;
    transform: rotate(120deg);
    display: inline-block;
    list-style-type: none;
}

.hexagon-in1 {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    text-decoration: none;
}

.hexagon-in2 {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(/images/11.jpg);
    overflow: hidden;
    visibility: visible;
    line-height: 200px;
    font-size: 1.5em;
    color: #fff;
    text-shadow: 1px 1px #000;
    transform: rotate(-60deg);
    transition: 1.5s ease-out;
    text-align: center;
    line-height: 4; 
}

li:nth-child(1) span {
    background-position: -15px center;
}

li:nth-child(2) span {
    background-position: -115px center;
}

li:nth-child(3) span {
    background-position: -215px center;
}

li:nth-child(4) span {
    background-position: -315px center;
}

li:nth-child(5) span {
    background-position: -415px center;
}

.hexagon-in2:hover {
    background-position: -565px center;
    color: orange;
}

ul {
    text-align: center;
}

@media (max-width: 1200px) {
    .hexagon {
        display: none;
    }
}

