<head>
    <style>
        .container {
            position: relative;
            width: 100%;
            max-width: 1200px;
        }

            .container img {
                width: 100%;
                height: auto;
            }

            .container .btn {
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                background-color: lightgoldenrodyellow;
                color: black;
                font-size: 16px;
                padding: 12px 24px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;
            }

                .container .btn:hover {
                    background-color: transparent;
                }
    </style>
</head>
<body>
    <h2 class="text-center">Събития</h2>
    <p class="text-center">Тук можете да добавите информация за проведени мероприятия по хранене и третиране на вашите кошери, както и да добавите бележки за напомняне на задачи.</p>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="/images/Feeding.jpg" alt="Snow" style="width:100%">
                <a asp-controller="Event" asp-action="Feeding" class="btn">Хранене</a>
            </div>
            <div class="col-sm">
                <img src="/images/Treatment.jpg" alt="Snow" style="width:100%">
                <a asp-controller="Event" asp-action="Treatment" class="btn">Третиране</a>
            </div>
            <div class="col-sm">
                <img src="/images/ToDo.jpg" alt="Snow" style="width:100%">
                <a asp-controller="Event" asp-action="Notes" class="btn">Задачи</a>
            </div>
        </div>
    </div>
</body>
